header {
  background-image: url('../assets/images/headerbg.jpg');
  height: 150px;
}

#logo {
  width: 50%;
  margin-left: 3%;
  margin-top: 80px;
}

header button {
  position: absolute;
  margin-left: 25%;
  margin-top: 90px;
}
