body {
  font-family: Optima;
  margin-top: 0;
  margin-left: 10%;
  margin-right: 10%;
}

/* Header */

header {
  background-image: url('../assets/images/headerbg.jpg');
  height: 150px;
}

#logo {
  width: 50%;
  margin-left: 3%;
  margin-top: 80px;
}

#settings {
  position: absolute;
  margin-left: 21%;
  margin-top: 90px;
}

#logout {
  position: absolute;
  margin-left: 28%;
  margin-top: 90px;
}

/* Nav */

nav {
  margin-top: 150px;
  margin-left: 5%;
  margin-right: 5%;
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #333;
}

li {
  float: left;
  padding: 3%;
  width: 18.85%;
}

li:hover {
  background-color: #cccccc;
}

li a {
  display: block;
  color: #fff;
  text-align: center;
  text-decoration: none;
  font-weight: bold;
  font-size: 1.3em;
}

li a:hover {
  color: #333333;
}

#active-item {
  background-color: #31456e;
  color: #fff;
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: #cccccc;
    color: #333333;
    padding: 1%;
    width: 15%;
    margin-top: 30px;
    margin-right: 300%;
}

.dropdown:hover .dropdown-content {
    display: block;
}

/* Body */

#content {
  margin-left: 5%;
  margin-right: 5%;
  margin-top: 40px;
}

h1 {
  color: #31356e;
  font-weight: bold;
}

.main-btn {
  background-color: #31456e;
  border: 1px solid #31456e;
  color: #fff;
  padding: 1%;
  font-size: 0.9em;
}

.main-btn:hover {
  background-color: #cccccc;
  color: #333333;
  border: 1px solid #cccccc;
  padding: 1%;
  font-size: 0.9em;
}

#content button {
  margin-top: 10px;
  margin-bottom: 20px;
}

/* Footer */

footer {
  background-color: #cccccc;
  margin-top: 50px;
}

section {
  float: left;
  width: 30%;
  padding: 1%;
}

.border-right {
  border-right: 2px solid #fff;
}

#footer-btn {
  background-color: #ffffff;
  color: #333333;
  border: 1px solid #ffffff;
  padding: 2%;
  font-size: 0.9em;
}

#footer-btn:hover {
  background-color: #31456e;
  color: #ffffff;
  border: 1px solid #31456e;
  padding: 2%;
  font-size: 0.9em;
}

#copyright {
  clear: left;
  border-top: 2px solid #ffffff;
  padding: 1%;
}
